<div class="card">
    <div class="card-header bg-primary">
        <h4>Neuer Artikel</h4>
    </div>

    <div class="card-block">
        <!-- Template-Syntax:
                [ngFormModel]="form"  fuer Input = Property Binding
                                      d.h. ngFormModel fuer Attr. form
                (submit)="save()"  fuer Output = Event Binding
                                   d.h. Ereignis submit an save() anbinden
                                   oder on-submit="save"
                Definition von Attributnamen gemaess HTML: Attribute names
                must consist of one or more characters other than the
                space characters, U+0000 NULL, """, "'", ">", "/", "=",
                the control characters, and any characters that are not
                defined by Unicode.
                https://github.com/angular/angular/issues/6786
        -->
        <form [ngFormModel]="form" role="form">
            <div class="form-group row"
                 [class.text-danger]="!bezeichnung.valid && bezeichnung.touched">
                <label for="bezeichnung" class="col-sm-2 form-control-label">
                    Artikelbezeichnung *
                </label>
                <div class="col-sm-10">
                    <input id="bezeichnung"
                           placeholder="Artikelbezeichnung"
                           class="form-control"
                           autofocus
                           required
                           pattern="\w.*"
                           minlength="2"
                           type="search"
                           [ngFormControl]="bezeichnung">
                </div>
                <div class="col-sm-offset-2 col-sm-10"
                     *ngIf="!bezeichnung.valid && bezeichnung.touched">
                    Eine Artikelbezeichnung muss mit einem Buchstaben oder einer Ziffer
                    beginnen und mindestens 2 Zeichen lang sein.
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Bewertung</label>
                <div class="col-sm-10">
                    <select class="form-control" [ngFormControl]="rating">
                        <option value="">Bewertung ausw&auml;hlen</option>
                        <optgroup label="Hoch">
                            <option value="5">5</option>
                        </optgroup>
                        <optgroup label="Mittel">
                            <option value="4">4</option>
                            <option value="3">3</option>
                        </optgroup>
                        <optgroup label="Niedrig">
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Kategorie *</label>
                <div class="col-sm-10">
                    <!--
                        TODO kein radio_value_accessor.ts in
                            node_modules\angular2\ts\src\forms
                            https://github.com/angular/angular/tree/master/modules/angular2/src/core/forms/directives
                    -->
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" name="chickenEgg" value="chicken" [ng-model="formData.chickenEgg">
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" [ngFormControl]="buero" name="kategorie"
                                   value="BUERO"> B&uuml;ro
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" [ngFormControl]="diele" name="kategorie"
                                   value="DIELE"> Diele
                        </label>
                    </div>
                    <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" [ngFormControl]="esszimmer" name="kategorie"
                               value="ESSZIMMER"> Esszimmer
                    </label>
                </div>
                </div>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" [ngFormControl]="kinderzimmer" name="kategorie"
                               value="KINDERZIMMER"> Kinderzimmer
                    </label>
                </div>
                    <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" [ngFormControl]="kueche" name="kategorie"
                               value="KUECHE"> K&uuml;che
                    </label>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" [ngFormControl]="schlafzimmer" name="kategorie"
                                   value="SCHLAFZIMMER"> Schlafzimmer
                        </label>
                    </div>
                    <div class="radio">
                        <label class="radio-inline">
                            <input type="radio" [ngFormControl]="wohnzimmer" name="kategorie"
                                   value="WOHNZIMMER"> Wohnzimmer
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row"
                 [class.text-danger]="!preis.valid && preis.touched">
                <label for="preisInput" class="col-sm-2 form-control-label">
                    Preis *
                </label>
                <div class="col-sm-10">
                    <input id="preisInput"
                           placeholder="Preis, z.B. 123.45"
                           required
                           class="form-control"
                           type="search"
                           [ngFormControl]="preis"/>
                </div>
                <div class="col-sm-offset-2 col-sm-10"
                     *ngIf="!preis.valid && preis.touched">
                    Ein Preis muss eingegeben werden, z.B. 123.45
                </div>
            </div>

            <div class="form-group row">
                <label for="ausgesondertInput" class="col-sm-2 form-control-label">
                    Ausgesondert?
                </label>
                <div class="col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input id="ausgesondertInput" type="checkbox"
                                   [ngFormControl]="ausgesondert"/>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-10">
                    <!-- Template-Syntax:
                            (click)="save()"  fuer Output = Event Binding
                                              d.h. Ereignis click an save() anbinden
                                              oder on-click="save"
                            [disabled]="..." fuer Input = Property Binding
                    -->
                    <button class="btn btn-secondary" (click)="save()"
                            [disabled]="!form.valid">
                        <i class="fa fa-check"></i> &nbsp; Jetzt anlegen
                    </button>
                </div>
            </div>
        </form>

        <small>* sind Pflichtfelder</small>
    </div>
</div>
